<div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-4">
                <div class="custom-card">
                    <div class="custom-card-body">
                        <h3 class="custom-card-title">{{noticia.titulo}}</h3>
                        <p class="custom-card-text" style="font-size: 20px;">{{noticia.conteudo}}</p>
                        <a href="/" class="custom-btn custom-btn-primary">Voltar para a página inicial</a>
                    </div>
                    <div class="custom-card-footer">
                        Por {{noticia.autor}} em {{noticia.data}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>